{% extends 'cms/cms_base.html' %}

{% block title %}
    版块管理
{% endblock %}

{% block head %}
    <script src="{{ static('cms/js/board.js') }}"></script>
    <link rel="stylesheet" href="{{ static('cms/css/cms_board.css') }}">
{% endblock %}

{% block pagetitle %}
    {{ self.title() }}
{% endblock %}

{% block main_content %}
    <div class="top-box">
        <button class="btn btn-warning" id="add-board-btn" style="float: right">添加板块</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>板块名称</th>
                <th>帖子数量</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
                <tr data-name="{{ board.board_name }}"data-id="{{ board.id }}">
                    <td>{{ board.board_name }}</td>
                    <td>暂未实现</td>
                    <td>{{ board.create_time}}</td>
                    <td>
                        <button class="btn btn-default edite-board-btn">编辑</button>
                        <button class="btn btn-danger delete-board-btn">删除</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}