{% extends 'front/front_login_base.html' %}
{#{% from 'common/_macros.html' import static %}#}
{% block head %}
    <script src='{{ static('front/js/front_regist.js') }}'></script>
    <link rel="stylesheet" href="{{ static('front/css/front_signbase.css') }}">
{% endblock %}

{% block title %}
    华山论坛
{% endblock %}

{% block pagetitle %}
    华山论坛注册页面
{% endblock %}

{% block formbox %}
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control"name="telephone"placeholder="手机号码">
         <span class="input-group-btn">
             <button class="btn btn-default"id="sms-captcha-btn">发送验证码</button>
         </span>
        </div>
    </div>
     <div class="form-group">
         <input type="text" class="form-control"name="sms_captcha"placeholder="短信验证码">
    </div>
    <div class="form-group">
         <input type="text" class="form-control"name="username"placeholder="用户名">
     </div>
    <div class="form-group">
         <input type="password" class="form-control"name="password"placeholder="密码">
     </div>
    <div class="form-group">
        <input type="password" class="form-control"name="confirmpwd"placeholder="确认密码">
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control"name="graph-captcha"placeholder="图形验证码">
            <span class="input-group-addon captcha-addon">
                <img id="captcha-img" class="captcha-img" src="{{ url_for('common.graph_captcha') }}" alt="">
            </span>
        </div>
    </div>
    <div class="form-group">
        <button id="submit-btn" class="btn btn-warning"style="width:100%">立即注册</button>
    </div>

{% endblock %}
