{% extends 'front/front_base.html' %}



{% block title %}
    个人信息完善
{% endblock %}

{% block head %}
    <script  src="{{ static('front/js/front_update_profile.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_updateprofile.css') }}">
{% endblock %}

{% block body %}
    <div class="update-head">
        <h2>个人信息完善</h2>
    </div>
    <div class="update_profile">
        <form action=""method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">邮箱</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>QQ号</label>
            <input type="text" class="form-control" name="qq_number">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">真实姓名</label>
            <input type="text" class="form-control" name="realname">
          </div>
          <div class="form-group">
            <label >性别</label>
                <select class="form-control"name="gender">
                  <option>男</option>
                  <option>女</option>
                  <option selected="selected">保密</option>
                </select>
          </div>
          <div class="form-group" style="margin-top: 30px">
            <label >个性签名</label>
            <textarea class="form-control" rows="3"id="usersingature"></textarea>
          </div>

          <button type="submit" class="btn btn-default"id="user_update_profile_btn" data-id="{{ g.front_user.id
                  }}">立即保存</button>
        </form>

    </div>
{% endblock %}