.lg-container{
    padding: 20px;
}

.post-container{
    border: 1px solid #e6e6e6;
    padding: 10px;

}
.post-info-group{
    font-size: 12px;
    color: #8c8c8c;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
    margin-bottom: 15px;

}
.post-info-group span{
    margin-right: 20px;
}
.post-container{
    padding-top: 20px
}


.post-container img{
    max-width: 100%;
}


.comment-group{
    border: 1px solid #e6e6e6;
    margin-top: 30px;
    padding: 10px;
}

.add-comment-group{
    margin-top: 50px;
    padding: 10px;
    border:1px solid #e6e6e6;
}


.submit-btn{
    margin-top: 5px;
    text-align: right;
}



.comment-group li{
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}


.avatar-group{
    float: left;
}

.avatar-group img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-content{
    float: left;
    margin-left: 10px;
    margin-right: 8px;
    width: 538px;


}


.comment-content .author-info{
    font-size: 12px;
    color: #8c8c8c;


}

.author-info span{
    margin-right: 10px;
}

.comment-content .comment-txt  {
    margin-top: 10px;

}