{% extends 'front/front_base.html' %}

{% block title %}
    个人中心界面
{% endblock %}

{% block head %}
     <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ static('common/js/zlqiniu.js') }}"></script>

    <script  src="{{ static('front/js/front_update_profile.js') }}"></script>
    <link rel="stylesheet" href="{{ static('front/css/front_profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-head">
        <div class="user-avatar">
            <img src="{{user.avatar or url_for('static',filename='common/images/logo.png')}}" alt="">
        </div>
        <div class="user-head">
            <h3>{{ user.username }}</h3>
            <span>积分:0</span>
            <span>个性签名:{{ user.singature }}</span>
        </div>
    </div>
    <div class="userinfo-post">
        <div>
            <h3>个人资料</h3>
        </div>
         <div class="list-group">
            <a href="#" class="list-group-item active">资料</a>
            <a href="#" class="list-group-item">帖子</a>
        </div>
    </div>
    <div class="user-detail">
        <div class="user-info-detai"><h3>资料</h3></div>
        <div class="user-info1">用户名:{{ user.username or '未填写'}}</div>
        <div class="user-info1">手机号:{{ user.telephone or '未填写'}}</div>
        <div class="user-info1">邮箱:{{ user.email or '未填写'}}</div>
        <div class="user-info1">QQ号:{{ user.qq or '未填写' }}</div>
        <div class="user-info1">真实姓名:{{user.realname or '未填写'}}</div>
        <div class="user-info1">性别:{{ user.gender or '未填写'}}</div>
        <div class="user-info2">个性签名:{{user.singature or '未填写'}}</div>
        <div class="user-info-detai"><h3>活跃概括</h3></div>
        <div class="user-info1">发帖数目:0</div>
        <div class="user-info1">评论数目:0</div>
    </div>
    </div>
{% endblock %}