{% extends 'front/front_login_base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ static('front/css/front_signbase.css') }}">
    <script src="{{ static('front/js/front_login.js') }}"></script>
{% endblock %}
{% block title %}
    登录
{% endblock %}

{% block pagetitle %}
    华山论坛登录
{% endblock %}

{% block formbox %}
    <div class="form-group">
        <input type="text" class="form-control"name="telephone" placeholder="请输入手机号">
    </div>
    <div class="form-group">
        <input type="password" class="form-control"name="password" placeholder="请输入密码">
    </div>
    <div class="checkbok">
        <label >
            <input type="checkbox"name="remember"value="1">记住我
        </label>
    </div>
    <div class="form-group">
        <button id="submit-btn" class="btn btn-info"style="width:100%">立即登录</button>
    </div>
    <div class="form-group">
        <a href="{{ url_for('front.regist') }}"class="signup-link">没有账号？,立即注册</a>
        <a href="#"class="resetpwd-link"style="float: right;">找回密码</a>
    </div>

{% endblock %}